<footer class="p2pu-footer">

	<div class="container">

		<ul class="footer-social clearfix">
			<li><a target="_blank" href="http://twitter.com/bmoreheritage"><i class="fa fa-twitter"></i></a>
			</li>
			<li><a target="_blank" href="http://flickr.com/photos/baltimoreheritage/"><i class="fa fa-flickr"></i></a>
			</li>
			<li><a target="_blank" href="https://www.facebook.com/baltimoreheritage"><i class="fa fa-facebook"></i></a>
			</li>
		</ul>

		<hr>
		<div class="col-md-4 first">
			<h4>What is Baltimore Heritage?</h4>

			<p>Founded in 1960, Baltimore Heritage, Inc. is Baltimore’s nonprofit historic and architectural preservation organization. With two staff members, 33 volunteer board members, and a host of volunteers, we work to preserve and promote Baltimore’s historic buildings and neighborhoods.
			</p>

		</div>

		<div class="col-md-4 col-md-offset-1">
			<h4>Meta</h4>
			<ul class="footer-links">
				<li>
					<i class="fa fa-angle-right "></i>
					<a href="">
						Terms of Use
					</a>
				</li>
				<li>
					<i class="fa fa-angle-right "></i>
					<a href="http://baltimoreheritage.org/about/">
						About Baltimore Heritage
					</a>
				</li>
				<li>
					<i class="fa fa-angle-right "></i>
					<a href="http://baltimoreheritage.org/contact">
						Contact
					</a>
				</li>
				<li>
					<i class="fa fa-angle-right "></i>
					<a class="donate" href="#" data-toggle="modal" data-target="#donate-modal">
						Donate
					</a>
				</li>
			</ul>
		</div>


		<div class="pull-right col-md-3 cc-by-sa">
			<img src="{{site.baseurl}}/img/cc-icons.png" alt="CC-BY-SA Icon">

			<p>
				Unless otherwise noted, all the materials on this site are licensed under a <a target="_blank" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0</a> Unported license.
				Homepage logo: <a href="https://thenounproject.com/term/compass/198610/">Compass</a> by Dominique Vicent from The Noun Project.
			</p>
		</div>

	</div>

</footer>
